$include /etc/inputrc
set autocompletion-ignore-case on
set completion-prefix-display-length 2
set completion-map-case on
"\e[5~": history-search-backward
"\e[6~": history-search-forward
"\e[1;5C": forward-word
"\e[1;5D": backward-word
